<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loyout2</title>
    <style media="screen">

    .inlineblock {
      display: inline-block;
      vertical-align: middle
      width:400px
      padding: 5px inherit;



    }

    .widthdouble{
      width:400px
      margin-left: 80px

    }


    </style>
  </head>
  <body>

    <div class="inlineblock">
      Allow events to change you. You have to be willing to grow. Growth is different from something that happens to you. You produce it. You live it. The prerequisites for growth: the openness to experience events and the willingness to be changed by them.
    </d>

    <div class="inlineblock widthdouble">
      Allow events to change you. You have to be willing to grow. Growth is different from something that happens to you. You produce it. You live it. The prerequisites for growth: the openness to experience events and the willingness to be changed by them.
    </d>

    <div class="inlineblock">
    </d>

    <div class="inlineblock">
    </d>

  </body>
</html>
