p {
  margin-bottom: 20px;
}


a {
  color:black;
}

.leftpullquote a {
  color: green;
}

.image img {
  display: block;
  margin-top: 20px;
  width: 250px;
}

.image {
  font-size: 12px;
}


.contents{
  text-align: center;
}

.left {
position: fixed;
left:0;
top:50;
width:35%;
height:100vh;
margin-left: 80px;
}

.right {
position: fixed;
left:50%;
top:0;
width:28%;
height:100vh;
margin-left: 150px;
margin-right: 50px;
margin-top: 20px;
font-style: italic;
}

.rightbold {
font-style: italic;
font-weight: bold;
}

.leftpullquote{

margin-left: 20px;
margin-bottom: 20px;
font-style: italic;
}

.rightpullquote{
  position: fixed;
  left:50%;
  top:0;
  width:40%;
  height:100vh;
  margin-left: 50px;
  margin-right: 50px;
}



h2 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: lighter;
  margin-left: 150px;
}


h6 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: lighter;
  margin-left: 230px;
  font-family: serif;
}

.title{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: lighter;
  font-family: serif;
  font-size: 26px;
}

.subtitle{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: lighter;
  font-family: serif;
  font-size: 11px;
}

.thumbnail {
display: block;
max-width: 100%;
align-items: center;
}

.img {mix-blend-mode:multiply;}

.background-size{
  background-size: cover;
}
.gradient {
    background: linear-gradient(to left, rgba(226,226,226,1), 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);

background: left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));

background:(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);

background: left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);

background:(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);

}

.big {
  width: 100vw;
  height:100vw;
}

.number{
  border: 1px;
color: red;
padding: 2px;
vertical-align: super,
 font-size: 50%; }


.number:hover {background-color: black; color:white; }

.footnote {
  position: fixed;
  bottom:10px;
  left:10px;
  font-family: arial;
  display:none;
  background-color: black;
  color: white;
}

.footnote.showme{
  display: block;
}

.footnote {
  color: red;
}
